* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

nav, header, section, footer {
  width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

.container::after {
  clear: both;
  display: block;
  content: '';
}

/*  nav styles  */

nav {
  background: black;
  color: white;
}

nav span, header span {
  color: #24ba9f;
}

nav p {
  float: left;
  width: 200px;
  margin: 0;
  vertical-align: bottom;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  float: right;
  width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}


/*  header styles  */

header {
  background: linear-gradient(to bottom, #f8f8f8 60%, #d8d7dd);
}

header figure {
  width: 50%;
  float: left;
  margin: 0;
}

header article {
  width: 50%;
  float: left;
  padding-top: 30px;
  text-align: center;
}

header a {
  text-decoration: none;
  color: white;
  display: inline-block;
  background: #24ba9f;
  padding: 10px 25px;
  border-radius: 5px;
}

/* chairs section styles  */

section .chairs {
  background-color: rgb(193, 193, 193);
}

.chairs h4 {
  border-bottom: 3px solid #24ba9f;
  width: 50%;
  margin: 0;
}

.chairs article {
  border: 1px solid rgb(193, 193, 193);
  width: 32%;
  float: left;
  padding: 15px;
}

.chairs figure {
  position: relative;
  width: 32%;
  float: left;
  margin: 0;
  margin-right: 2%;
}

.chairs figcaption {
  width: 105%;
  padding: 10px 0 20px 15px;
  position: absolute;
  left: 0;
  top: 70%;
  background: rgba(255, 255, 255, .2);
}

/*  prices section styles  */

.prices {
  background: #f1f1f1;
}

.section-title {
  border-bottom: 5px solid #24ba9f;
  width: 30%;
  margin: 0;
}

.price-card {
  float: left;
  background: #f9f9f9;
  margin-right: 2%;
  margin-top: 60px;
  width: 32%;
  height: 420px;
  padding: 40px 0;
  border: 2px solid #e7e7e7;
  text-align: center;
  position: relative;
  color: #bebebe;
}

.price-card:last-of-type {
  margin-right: 0;
}

.price-card h1 {
  color: #24ba9f;
  margin: 0 0 20px 0;
}

.central-circle {
  border: 2px solid #e7e7e7;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 0 auto 20px;
  background: white;
  padding: 10px;
}

.price-card p {
  margin: 0;
  padding: 5px 0;
}

.price-card p:nth-child(odd) {
  background: #e4e4e4;
}

.price-card p:nth-child(even) {
  background: #f1f1f1;
}

.empty-space {
  height: 28px;
}

.price-card a {
  display: block;
  color: white;
  text-decoration: none;
  background: #24ba9f;
  padding: 10px 0;
  margin: 40px auto 0;
  width: 170px;
  border-radius: 10px;
}

.circle-outer {
  border: 2px solid #e7e7e7;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  background: white;
  z-index: 1;
  top: -35px;
  left: 42%;
}

.circle-inner {
  height: 23px;
  width: 23px;
  border-radius: 100%;
  background: #c2c2c2;
  position: absolute;
  top: 27%;
  left: 26%;
}

.price-card span {
  display: block;
  text-align: center;
}

.price {
  font-size: 40px;
}

.price sup {
  font-size: 16px;
}

/* styles only for inner price-card */

.green-price-card {
  background: #24ba9f;
  border-color: #24ba9f;
}

.green-price-card .circle-outer {
  border-color: #24ba9f;
  background: #24ba9f;
}

.green-price-card .circle-inner {
  background: #f1f1f1;
}

.green-price-card a {
  color: #24ba9f;
  background: white;
}

.green-price-card p:nth-child(odd) {
  background: white;
}

.green-price-card h1 {
  color: white;
}

.green-price-card .price, .green-price-card .currency {
  color: #24ba9f;
}

/*  form styles  */

fieldset {
  float: left;
  border: none;
  padding: 10px;
}

#form-fields {
  width: 60%;
  margin-right: 3%;
}

#form-fields input {
  width: 100%;
  margin: 10px 0;
  font-size: 2em;
  color: #bdbdbd;
  padding: 5px;
  border: 1px solid #bdbdbd;

}

textarea {
  margin: 10px 0;
  width: 100%;
  height: 220px;
  font-size: 2em;
  padding: 5px;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;

}

.form figure {
  margin: 0;
  margin-bottom: 25px;
}

input[type="checkbox"] {
  width: 35px;
  height: 35px;
  border: 1px solid #bdbdbd;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  margin-bottom: 25px;
}

input[type="checkbox"]:checked {
  background-image: url("../images/form_ok.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

textarea:focus, input:focus {
  outline: 1px solid #24ba9f;
}

.agreement {
  float: left;
}

 p.agreement {
  margin: 0;
  padding: 0 0 0 10px;
  width: 70%;
  color: #bdbdbd;
}

#checkbox::after {
  clear: both;
  display: block;
  content: '';
}

input[type="submit"] {
  width: 100%;
  clear: both;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 2em;
  background: #24ba9f;
  color: white;
  border-radius: 10px;
  border-width: 0;

}

/*  footer styles  */

footer {
  color: #bdbdbd;
}

#copy {
  width: 64%;
  float: left;
}

#social-media {
  width: 33%
  float: left;
}

#social-media p {
  width: 15%;
  float: right;
  text-align: right;
}
